/* AdminMemberList.css */

.homeWidgets {
    display: flex;
    justify-content: center;
}

.widgettable {
    width: 90%;
    margin-top: 30px;
    border-collapse: collapse;
}
.widgetmember1{
    background-color: #424242;
    color: white;
}

.widgetmember2 {
    background-color: #f1f1f1;
}

.widgetmemberid,
.widgetmembername,
.widgetmemberphone,
.widgetmemberemail,
.widgetmemberdetail,
.widgetmemberid2,
.widgetmembername2,
.widgetmemberphone2,
.widgetmemberemail2,
.widgetmemberdetail2{
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.widgetmemberid {
    font-weight: bold;
}

.widgetmemberdetail{
    text-align: center;
}

.widgetbtn {
    margin: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.widgetbtn:hover {
    background-color: #45a049;
}
