*{
    list-style: none;
}
h1{
    border: none;
}

.membertitle{
    margin-left: 250px;
    margin-top: 25px;
    display: inline-block;
    /*width: 100%;*/
    line-height: 50px;
}


.widgetstitle{
    margin-left: 250px;
}

