.widgetlist{
    display: grid;
    margin-left: 270px;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    width:80%;
    gap: 10px;
    /*border: 1px solid;*/
    /*font-size: 30px;*/


}

.homewidgets{
    display: flex;
    justify-content: space-between;
}

.widgetmember{
    margin: 0;
    padding: 0;
    list-style: none;
    /*display: flex;*/
    justify-content: space-between;
}

.widgetlistmember{
    border: 1px solid;
    border-radius: 10%;
    display: flex;
    align-items: center;
    height: 100px;
    gap: 70px;
    justify-content: space-evenly;
    margin: 20px 0;
}

.widgetimg{
    width:80px;
    height: 80px;
    line-height:80px;
    margin-left: 20px;

    border-radius: 50%;
}

.widgetmemberid{
    display: flex;
    flex-direction: column;
}

.widgetbtn{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}