.AdminStock_tabcontenttable {
    margin: 0 auto;
    text-align: center;


}

.AdminStock_contenttableth{
    gap:150px;
    justify-content: space-evenly;
    border-bottom: 1px solid;
}

.AdminStock_contenttabletd{
    margin-top: 20px;
    gap: 150px;
}

.AdminStock_contenttableth,
.AdminStock_contenttabletd {
    height: 100px;
    display: flex;


    align-items: center;
    text-align: center;

}

.AdminStock_contentImg{
    width: 100px;
    height: 100px;
}
.AdminStock_right1{
    margin-left: 5px;
}

.AdminStock_right2{
    margin-left: 10px;
}

.AdminStock_right3{
    margin-left: 30px;
}

.AdminStock_right4{
    margin-left: 40px;
}

.AdminStock_modifyBtn{
    /*border: none;*/
    /*font-size: 20px;*/
    /*background-color: blue;*/
    /*width: 30px;*/
}